/***********************/
/********* LINK ********/
/***********************/
/***********************/
/********* MENU ********/
/***********************/
/***********************/
/******* DIVIDER *******/
/***********************/
/***********************/
/********* CARD ********/
/***********************/
/***********************/
/******* SHADOWS *******/
/***********************/
/***********************/
/****** ANIMATIONS *****/
/***********************/
/* line 1, ../sass/misc/_actions.scss */
.grow {
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}
/* line 3, ../sass/misc/_actions.scss */
.grow:hover {
  -webkit-transform: scale(1.2, 1.2);
  -moz-transform: scale(1.2, 1.2);
  -ms-transform: scale(1.2, 1.2);
  -o-transform: scale(1.2, 1.2);
  transform: scale(1.2, 1.2);
}
/* line 6, ../sass/misc/_actions.scss */
.grow.blue {
  background-color: #4285f4;
}

/* line 11, ../sass/misc/_actions.scss */
.raised {
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
  -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.4);
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.4);
  cursor: pointer;
}
/* line 15, ../sass/misc/_actions.scss */
.raised:hover {
  -webkit-box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.4);
  box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.4);
}
/* line 18, ../sass/misc/_actions.scss */
.raised:active {
  -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.4);
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.4);
}

/**************************************/
/**************** MISC ****************/
/**************************************/
/* line 1, ../sass/misc/_button.scss */
.button {
  display: inline-block;
  position: relative;
  width: 120px;
  height: 32px;
  line-height: 32px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  font-size: 0.9em;
  background-color: #fff;
  color: #646464;
  cursor: pointer;
}
/* line 12, ../sass/misc/_button.scss */
.button.blue {
  background-color: #4285f4;
  color: #fff;
}
/* line 16, ../sass/misc/_button.scss */
.button.red {
  background-color: #e51c23;
  color: #fff;
}
/* line 20, ../sass/misc/_button.scss */
.button.green {
  background-color: #0f9d58;
  color: #fff;
}
/* line 24, ../sass/misc/_button.scss */
.button.black {
  background-color: black;
  color: #fff;
}

/* line 31, ../sass/misc/_button.scss */
.round {
  position: relative;
  display: inline-block;
  width: 56px;
  height: 56px;
  border-radius: 50%;
  color: #fff;
  overflow: hidden;
}
/* line 39, ../sass/misc/_button.scss */
.round.red {
  background-color: #e51c23;
}
/* line 42, ../sass/misc/_button.scss */
.round.blue {
  background-color: #4285f4;
}
/* line 45, ../sass/misc/_button.scss */
.round.green {
  background-color: #0f9d58;
}
/* line 48, ../sass/misc/_button.scss */
.round.black {
  background-color: black;
}
/* line 52, ../sass/misc/_button.scss */
.round.inv {
  color: black;
}
/* line 55, ../sass/misc/_button.scss */
.round .icon {
  margin: 21px;
}

/* line 1, ../sass/misc/_cards.scss */
.card {
  display: inline-block;
  position: relative;
  font-size: 15px;
  background-color: #fff;
  color: #646464;
  border: 1px solid #e2e2e2;
  margin-bottom: 30px;
  padding: 5px 15px;
}
/* line 11, ../sass/misc/_cards.scss */
.card.card-rounded {
  border-radius: 5px;
}
/* line 15, ../sass/misc/_cards.scss */
.card .card-header {
  padding-bottom: 20px;
  font-size: 20px;
  text-transform: capitalize;
  color: #607d8b;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  -ms-text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
}
/* line 24, ../sass/misc/_cards.scss */
.card .card-content {
  font-size: 15px;
}
/* line 28, ../sass/misc/_cards.scss */
.card .card-footer {
  padding-top: 20px;
  text-align: right;
  color: #a2a2a2;
}

/* line 35, ../sass/misc/_cards.scss */
.card-z-1 {
  -webkit-box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.16);
  -moz-box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.16);
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.16);
}
/* line 38, ../sass/misc/_cards.scss */
.card-z-1:after {
  -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
  -moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
}

/* line 43, ../sass/misc/_cards.scss */
.card-z-2 {
  -webkit-box-shadow: 0 17px 50px 0 rgba(0, 0, 0, 0.19);
  -moz-box-shadow: 0 17px 50px 0 rgba(0, 0, 0, 0.19);
  box-shadow: 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}
/* line 46, ../sass/misc/_cards.scss */
.card-z-2:after {
  -webkit-box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.24);
  -moz-box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.24);
  box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.24);
}

/* line 51, ../sass/misc/_cards.scss */
.card-z-3 {
  -webkit-box-shadow: 0 27px 24px 0 rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 27px 24px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 27px 24px 0 rgba(0, 0, 0, 0.2);
}
/* line 54, ../sass/misc/_cards.scss */
.card-z-3:after {
  -webkit-box-shadow: 0 40px 77px 0 rgba(0, 0, 0, 0.22);
  -moz-box-shadow: 0 40px 77px 0 rgba(0, 0, 0, 0.22);
  box-shadow: 0 40px 77px 0 rgba(0, 0, 0, 0.22);
}

/* line 4, ../sass/misc/_dialog.scss */
.dialog:before {
  content: "";
  display: none;
  background: rgba(0, 0, 0, 0.6);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
}
/* line 14, ../sass/misc/_dialog.scss */
.dialog:target:before {
  display: block;
}
/* line 17, ../sass/misc/_dialog.scss */
.dialog:target .dialog-content {
  -webkit-transform: translate(0, 0);
  -moz-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  transform: translate(0, 0);
  top: 20%;
}

/* line 26, ../sass/misc/_dialog.scss */
.dialog-content {
  margin-left: -200px;
  position: fixed;
  left: 50%;
  top: -100%;
  z-index: 11;
  width: 360px;
  -webkit-transform: translate(0, -500%);
  -moz-transform: translate(0, -500%);
  -ms-transform: translate(0, -500%);
  -o-transform: translate(0, -500%);
  transform: translate(0, -500%);
  -webkit-transition: 0.3s ease-out;
  -moz-transition: 0.3s ease-out;
  -o-transition: 0.3s ease-out;
  transition: 0.3s ease-out;
}

/* line 2, ../sass/misc/_divider.scss */
.divider {
  width: 100%;
  border-bottom: 1px solid #e2e2e2;
  margin-top: 30px;
  margin-bottom: 10px;
}

/* line 1, ../sass/misc/_forms.scss */
.group {
  position: relative;
  margin-bottom: 45px;
}
/* line 5, ../sass/misc/_forms.scss */
.group:last-child {
  margin-bottom: 15px;
}

/* line 10, ../sass/misc/_forms.scss */
input {
  font-size: 18px;
  padding: 10px 0px 10px 0px;
  display: block;
  width: 300px;
  border: none;
  border-bottom: 1px solid #757575;
}
/* line 17, ../sass/misc/_forms.scss */
input:focus {
  outline: none;
}

/* line 22, ../sass/misc/_forms.scss */
label {
  color: #999;
  font-size: 18px;
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  left: 5px;
  top: 10px;
  -webkit-transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -o-transition: 0.2s ease all;
  transition: 0.2s ease all;
}

/* active state */
/* line 36, ../sass/misc/_forms.scss */
input:focus ~ label, input:valid ~ label {
  top: -20px;
  font-size: 14px;
  color: #4285f4;
  display: block;
}

/* line 44, ../sass/misc/_forms.scss */
.bar {
  position: relative;
  display: block;
  width: 300px;
}
/* line 48, ../sass/misc/_forms.scss */
.bar:before, .bar:after {
  content: '';
  height: 2px;
  width: 0;
  bottom: 1px;
  position: absolute;
  background: #4285f4;
  -webkit-transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -o-transition: 0.2s ease all;
  transition: 0.2s ease all;
}
/* line 57, ../sass/misc/_forms.scss */
.bar:before {
  left: 50%;
}
/* line 60, ../sass/misc/_forms.scss */
.bar:after {
  right: 50%;
}

/* active state */
/* line 68, ../sass/misc/_forms.scss */
input:focus ~ .bar:before, input:focus ~ .bar:after {
  width: 50%;
}

/* line 73, ../sass/misc/_forms.scss */
.highlight {
  position: absolute;
  height: 60%;
  width: 100px;
  top: 25%;
  left: 0;
  pointer-events: none;
  opacity: 0.5;
}

/* active state */
/* line 86, ../sass/misc/_forms.scss */
input:focus ~ .highlight {
  -webkit-transition: inputHighlighter 0.3s ease;
  -moz-transition: inputHighlighter 0.3s ease;
  -o-transition: inputHighlighter 0.3s ease;
  transition: inputHighlighter 0.3s ease;
}

@-webkit-keyframes inputHighlighter {
  /* line 92, ../sass/misc/_forms.scss */
  from {
    background: #4285f4;
  }

  /* line 95, ../sass/misc/_forms.scss */
  to {
    width: 0;
    background: transparent;
  }
}

@-moz-keyframes inputHighlighter {
  /* line 92, ../sass/misc/_forms.scss */
  from {
    background: #4285f4;
  }

  /* line 95, ../sass/misc/_forms.scss */
  to {
    width: 0;
    background: transparent;
  }
}

@-ms-keyframes inputHighlighter {
  /* line 92, ../sass/misc/_forms.scss */
  from {
    background: #4285f4;
  }

  /* line 95, ../sass/misc/_forms.scss */
  to {
    width: 0;
    background: transparent;
  }
}

@keyframes inputHighlighter {
  /* line 92, ../sass/misc/_forms.scss */
  from {
    background: #4285f4;
  }

  /* line 95, ../sass/misc/_forms.scss */
  to {
    width: 0;
    background: transparent;
  }
}

/* line 1, ../sass/misc/_icons.scss */
.symbs {
  display: inline-block;
  position: relative;
  width: 32px;
  height: 32px;
  line-height: 32px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  font-size: 0.9em;
  background-color: #000;
  color: white;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
}
/* line 3, ../sass/misc/_icons.scss */
.symbs .fa {
  padding-top: 10px;
}
/* line 16, ../sass/misc/_icons.scss */
.symbs.red {
  background-color: #e51c23;
  border: 1px solid #e51c23;
}
/* line 20, ../sass/misc/_icons.scss */
.symbs.blue {
  background-color: #4285f4;
  border: 1px solid #4285f4;
}
/* line 24, ../sass/misc/_icons.scss */
.symbs.green {
  background-color: #0f9d58;
  border: 1px solid #0f9d58;
}
/* line 28, ../sass/misc/_icons.scss */
.symbs.inv {
  color: black;
}

/* line 2, ../sass/misc/_links.scss */
a.link {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 16px;
  padding: 0 5px;
}
/* line 8, ../sass/misc/_links.scss */
a.link.primary {
  color: #00b0ff;
}
/* line 12, ../sass/misc/_links.scss */
a.link.secondary {
  color: #fb8c00;
}
/* line 16, ../sass/misc/_links.scss */
a.link.default {
  color: #a2a2a2;
}

/* line 2, ../sass/misc/_menu.scss */
.menu {
  position: relative;
  top: 0;
  height: 60px;
  background-color: #607d8b;
  width: 100%;
  color: white;
  font-size: 30px;
  padding-top: 10px;
  z-index: 1;
}
/* line 13, ../sass/misc/_menu.scss */
.menu .menu-logo {
  float: left;
  padding-left: 10px;
  height: 50px;
}
/* line 19, ../sass/misc/_menu.scss */
.menu .menu-title {
  text-align: left;
  float: left;
  padding-left: 30px;
  height: 50px;
}
/* line 26, ../sass/misc/_menu.scss */
.menu .menu-options {
  float: right;
  text-align: right;
  padding-right: 10px;
  height: 50px;
  backgorund-color: black;
}
/* line 33, ../sass/misc/_menu.scss */
.menu .menu-options .fa {
  cursor: pointer;
}
/* line 36, ../sass/misc/_menu.scss */
.menu .menu-options .fa:hover .option-item {
  display: block;
}
/* line 41, ../sass/misc/_menu.scss */
.menu .menu-options .option-item {
  display: none;
  float: left;
  color: black;
  border: 1px solid grey;
  padding: 5px;
  position: relative;
  top: 0;
  right: 0;
  text-decoration: none;
  list-style-type: none;
  z-index: 200;
  margin: 0;
}
/* line 57, ../sass/misc/_menu.scss */
.menu.fixed {
  position: fixed;
  top: 0;
}
/* line 61, ../sass/misc/_menu.scss */
.menu.fixed .option-item {
  position: fixed;
  top: 60px;
}
/* line 67, ../sass/misc/_menu.scss */
.menu .fa {
  padding-top: 6px;
}

/* line 73, ../sass/misc/_menu.scss */
.sub-menu {
  position: fixed;
  top: 60px;
  height: 26px;
  background-color: #566f7c;
  width: 100%;
  text-align: center;
  padding-top: 4px;
  z-index: 2;
  -webkit-box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.4);
  box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.4);
}
/* line 84, ../sass/misc/_menu.scss */
.sub-menu .sub-menu-item {
  height: 45px;
  width: auto;
  display: inline;
  z-index: 20;
  font-size: 17px;
  padding: 0 10px 0 10px;
  cursor: pointer;
  color: white;
  text-transform: uppercase;
}
/* line 95, ../sass/misc/_menu.scss */
.sub-menu .sub-menu-item:hover {
  border-bottom: 3px solid #36474f;
}
/* line 100, ../sass/misc/_menu.scss */
.sub-menu a {
  text-decoration: none;
}

/* line 12, ../sass/_material.scss */
body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

/* line 16, ../sass/_material.scss */
.container {
  font-family: 'Roboto', sans-serif;
  margin: 110px 100px 50px 100px;
}

/* line 22, ../sass/_material.scss */
.center {
  text-align: center;
}
