/* line 1, ../sass/misc/_actions.scss */
.grow {
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}
/* line 3, ../sass/misc/_actions.scss */
.grow:hover {
  -webkit-transform: scale(1.2, 1.2);
  -moz-transform: scale(1.2, 1.2);
  -ms-transform: scale(1.2, 1.2);
  -o-transform: scale(1.2, 1.2);
  transform: scale(1.2, 1.2);
}
/* line 6, ../sass/misc/_actions.scss */
.grow.blue {
  background-color: #4285f4;
}

/* line 11, ../sass/misc/_actions.scss */
.raised {
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
  -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.4);
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.4);
  cursor: pointer;
}
/* line 15, ../sass/misc/_actions.scss */
.raised:hover {
  -webkit-box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.4);
  box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.4);
}
/* line 18, ../sass/misc/_actions.scss */
.raised:active {
  -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.4);
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.4);
}

/**************************************/
/**************** MISC ****************/
/**************************************/
/* line 1, ../sass/misc/_button.scss */
.button {
  display: inline-block;
  position: relative;
  width: 120px;
  height: 32px;
  line-height: 32px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  font-size: 0.9em;
  background-color: #fff;
  color: #646464;
  cursor: pointer;
}
/* line 12, ../sass/misc/_button.scss */
.button.blue {
  background-color: #4285f4;
  color: #fff;
}
/* line 16, ../sass/misc/_button.scss */
.button.red {
  background-color: #e51c23;
  color: #fff;
}
/* line 20, ../sass/misc/_button.scss */
.button.green {
  background-color: #0f9d58;
  color: #fff;
}
/* line 24, ../sass/misc/_button.scss */
.button.black {
  background-color: black;
  color: #fff;
}

/* line 31, ../sass/misc/_button.scss */
.round {
  position: relative;
  display: inline-block;
  width: 56px;
  height: 56px;
  border-radius: 50%;
  color: #fff;
  overflow: hidden;
}
/* line 39, ../sass/misc/_button.scss */
.round.red {
  background-color: #e51c23;
}
/* line 42, ../sass/misc/_button.scss */
.round.blue {
  background-color: #4285f4;
}
/* line 45, ../sass/misc/_button.scss */
.round.green {
  background-color: #0f9d58;
}
/* line 48, ../sass/misc/_button.scss */
.round.black {
  background-color: black;
}
/* line 52, ../sass/misc/_button.scss */
.round.inv {
  color: black;
}
/* line 55, ../sass/misc/_button.scss */
.round .icon {
  margin: 21px;
}

/* line 1, ../sass/misc/_forms.scss */
.group {
  position: relative;
  margin-bottom: 45px;
}

/* line 6, ../sass/misc/_forms.scss */
input {
  font-size: 18px;
  padding: 10px 0px 10px 0px;
  display: block;
  width: 300px;
  border: none;
  border-bottom: 1px solid #757575;
}
/* line 13, ../sass/misc/_forms.scss */
input:focus {
  outline: none;
}

/* line 18, ../sass/misc/_forms.scss */
label {
  color: #999;
  font-size: 18px;
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  left: 5px;
  top: 10px;
  -webkit-transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -o-transition: 0.2s ease all;
  transition: 0.2s ease all;
}

/* active state */
/* line 32, ../sass/misc/_forms.scss */
input:focus ~ label, input:valid ~ label {
  top: -20px;
  font-size: 14px;
  color: #4285f4;
  display: block;
}

/* line 40, ../sass/misc/_forms.scss */
.bar {
  position: relative;
  display: block;
  width: 300px;
}
/* line 44, ../sass/misc/_forms.scss */
.bar:before, .bar:after {
  content: '';
  height: 2px;
  width: 0;
  bottom: 1px;
  position: absolute;
  background: #4285f4;
  -webkit-transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -o-transition: 0.2s ease all;
  transition: 0.2s ease all;
}
/* line 53, ../sass/misc/_forms.scss */
.bar:before {
  left: 50%;
}
/* line 56, ../sass/misc/_forms.scss */
.bar:after {
  right: 50%;
}

/* active state */
/* line 64, ../sass/misc/_forms.scss */
input:focus ~ .bar:before, input:focus ~ .bar:after {
  width: 50%;
}

/* line 69, ../sass/misc/_forms.scss */
.highlight {
  position: absolute;
  height: 60%;
  width: 100px;
  top: 25%;
  left: 0;
  pointer-events: none;
  opacity: 0.5;
}

/* active state */
/* line 82, ../sass/misc/_forms.scss */
input:focus ~ .highlight {
  -webkit-transition: inputHighlighter 0.3s ease;
  -moz-transition: inputHighlighter 0.3s ease;
  -o-transition: inputHighlighter 0.3s ease;
  transition: inputHighlighter 0.3s ease;
}

@-webkit-keyframes inputHighlighter {
  /* line 88, ../sass/misc/_forms.scss */
  from {
    background: #4285f4;
  }

  /* line 91, ../sass/misc/_forms.scss */
  to {
    width: 0;
    background: transparent;
  }
}

@-moz-keyframes inputHighlighter {
  /* line 88, ../sass/misc/_forms.scss */
  from {
    background: #4285f4;
  }

  /* line 91, ../sass/misc/_forms.scss */
  to {
    width: 0;
    background: transparent;
  }
}

@-ms-keyframes inputHighlighter {
  /* line 88, ../sass/misc/_forms.scss */
  from {
    background: #4285f4;
  }

  /* line 91, ../sass/misc/_forms.scss */
  to {
    width: 0;
    background: transparent;
  }
}

@keyframes inputHighlighter {
  /* line 88, ../sass/misc/_forms.scss */
  from {
    background: #4285f4;
  }

  /* line 91, ../sass/misc/_forms.scss */
  to {
    width: 0;
    background: transparent;
  }
}

/* line 1, ../sass/misc/_icons.scss */
.symbs {
  display: inline-block;
  position: relative;
  width: 32px;
  height: 32px;
  line-height: 32px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  font-size: 0.9em;
  background-color: #000;
  color: white;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
}
/* line 3, ../sass/misc/_icons.scss */
.symbs .fa {
  padding-top: 10px;
}
/* line 16, ../sass/misc/_icons.scss */
.symbs.red {
  background-color: #e51c23;
  border: 1px solid #e51c23;
}
/* line 20, ../sass/misc/_icons.scss */
.symbs.blue {
  background-color: #4285f4;
  border: 1px solid #4285f4;
}
/* line 24, ../sass/misc/_icons.scss */
.symbs.green {
  background-color: #0f9d58;
  border: 1px solid #0f9d58;
}
/* line 28, ../sass/misc/_icons.scss */
.symbs.inv {
  color: black;
}

/* line 1, ../sass/misc/_layout.scss */
.layout {
  display: inline-block;
  position: relative;
  width: 120px;
  height: 50px;
  font-size: 15px;
  background-color: #fff;
  color: #646464;
  border: 1px solid lightgrey;
  margin-bottom: 30px;
}
/* line 12, ../sass/misc/_layout.scss */
.layout.menu {
  width: 100%;
}

/* line 17, ../sass/misc/_layout.scss */
.layout-z-1 {
  -webkit-box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.16);
  -moz-box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.16);
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.16);
}
/* line 20, ../sass/misc/_layout.scss */
.layout-z-1:after {
  -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
  -moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
}

/* line 25, ../sass/misc/_layout.scss */
.layout-z-2 {
  -webkit-box-shadow: 0 17px 50px 0 rgba(0, 0, 0, 0.19);
  -moz-box-shadow: 0 17px 50px 0 rgba(0, 0, 0, 0.19);
  box-shadow: 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}
/* line 28, ../sass/misc/_layout.scss */
.layout-z-2:after {
  -webkit-box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.24);
  -moz-box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.24);
  box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.24);
}

/* line 33, ../sass/misc/_layout.scss */
.layout-z-3 {
  -webkit-box-shadow: 0 27px 24px 0 rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 27px 24px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 27px 24px 0 rgba(0, 0, 0, 0.2);
}
/* line 36, ../sass/misc/_layout.scss */
.layout-z-3:after {
  -webkit-box-shadow: 0 40px 77px 0 rgba(0, 0, 0, 0.22);
  -moz-box-shadow: 0 40px 77px 0 rgba(0, 0, 0, 0.22);
  box-shadow: 0 40px 77px 0 rgba(0, 0, 0, 0.22);
}

/* line 9, ../sass/_material.scss */
.container {
  font-family: 'Roboto', sans-serif;
  padding-bottom: 50px;
}

/* line 14, ../sass/_material.scss */
.center {
  text-align: center;
}
