.button {
  width: 120px;
  height: $button-height;
  line-height: $button-height;
  @include border-radius(2px);
  font-size: 0.9em;
  background-color: #fff;
  color: #646464;
  cursor: pointer;
  display: inline-block;
  &.blue {
    background-color: $blue;
    color: #fff;
  }
  &.red {
    background-color: $red;
    color: #fff;
  }
  &.green {
    background-color: $green;
    color: #fff;
  }
  &.black {
    background-color: $black;
    color: #fff;
  }
}

.round
{
  position: relative;
  display: inline-block;
  width: $round-size;
  height: $round-size;
  line-height: $round-size;
  text-align: center;
  border-radius: 50%;
  color: #fff;
  overflow: hidden;
  &.red {
    background-color: $red;
  }
  &.blue {
    background-color: $blue;
  }
  &.green {
    background-color: $green;
  }
  &.black {
    background-color: $black
  }
  &.inv
  {
    color: $black;
  }
}