.button {
  width: $button-width;
  height: $button-height;
  line-height: $button-height;
  @include border-radius(2px);
  font-size: 0.9em;
  background-color: #fff;
  color: #646464;
  cursor: pointer;
  display: inline-block;
  overflow: hidden;
  &.blue {
    background-color: $blue;
    color: #fff;
  }
  &.red {
    background-color: $red;
    color: #fff;
  }
  &.green {
    background-color: $green;
    color: #fff;
  }
  &.black {
    background-color: $black;
    color: #fff;
  }
  &.clicked
  {
    .clic-action
    {
      @include transition(all 0.3s ease-in-out);
      height: $button-width*2;
      width: $button-width*2;
      border-radius: $button-width*2;
      top: -(($button-width) + ($button-height/2));
      background-color: rgba(0, 0, 0, 0);
    }
  }
  .clic-action
  {
    margin: auto;
    background-color: rgba(0, 0, 0, 0.3);
    height: 0px;
    width: 0px;
    position: relative;
    top:  -$button-height/2;
  }
}

.round {
  position: relative;
  display: inline-block;
  width: $round-size;
  height: $round-size;
  line-height: $round-size;
  text-align: center;
  border-radius: 50%;
  color: #fff;
  overflow: hidden;
  &.red {
    background-color: $red;
  }
  &.blue {
    background-color: $blue;
  }
  &.green {
    background-color: $green;
  }
  &.black {
    background-color: $black
  }
  &.inv {
    color: $black;
  }
  &.clicked
  {
    .clic-action
    {
      @include transition(all 0.3s ease-in-out);
      height: $round-size*2;
      width: $round-size*2;
      border-radius: $round-size*2;
      top: -($round-size*1.5);
      background-color: rgba(0, 0, 0, 0);
    }
  }
  .clic-action
  {
    margin: auto;
    background-color: rgba(0, 0, 0, 0.3);
    height: 0px;
    width: 0px;
    position: relative;
    top: -($round-size/2);
  }
}