.dialog{
   
  // This is modal bg
  &:before{
    content: ""; 
    display: none;
    background: rgba(0,0,0,.6);
    position: fixed;
    top: 0; left: 0; right: 0; bottom: 0; 
    z-index: 10;
  }
  
  &:target{
    &:before{
      display: block;
    }  
    .dialog-content{
      @include translate(0, 0);
      top: 20%;  
    }
     
  }
  
}

.dialog-content{
  margin-left: -200px;
  position: fixed; 
  left: 50%; 
  top: -100%;  
  z-index: 11; 
  width: 360px;
  @include translate(0, -500%);
  @include transition(0.3s ease-out);
}