.symbs {
  .fa
  {
    padding-top: 10px;
  }
  display: inline-block;
  position: relative;
  width: 32px;
  height: 32px;
  line-height: 32px;
  @include border-radius(2px);
  font-size: 0.9em;
  background-color: #000;
  color: white;
  @include border-radius(10px);
  &.red {
    background-color: $red;
    border: 1px solid $red;
  }
  &.blue {
    background-color: $blue;
    border: 1px solid $blue;
  }
  &.green {
    background-color: $green;
    border: 1px solid $green;
  }
  &.inv {
    color: $black;
  }
}