.layout {
  display: inline-block;
  position: relative;
  width: 120px;
  height: 50px;
  font-size: 15px;
  background-color: #fff;
  color: #646464;
  border: 1px solid lightgrey;
  margin-bottom: 30px;
  &.menu
  {
		width: 100%;
  }
}

.layout-z-1 {
  @include box-shadow($shadow-z-1);
  &:after
  {
  	@include box-shadow($shadow-z-1-after);
  }
}

.layout-z-2 {
  @include box-shadow($shadow-z-2);
  &:after
  {
    @include box-shadow($shadow-z-2-after);
  }
}

.layout-z-3 {
  @include box-shadow($shadow-z-3);
  &:after
  {
    @include box-shadow($shadow-z-3-after);
  }
}