.menu
{
  width: 100%;
  height: $menu-height;
  line-height: $menu-height;
  background-color: $menu-bg-color;
  display: inline-block;
  overflow: hidden;
  .menu-title 
  {
    padding: 0 10px;
    display: inline-block;
    font-size: 20px;
    color: white;
    line-height: $menu-height;
  }
  .menu-items
  {
    margin-left: 50px;
    padding: 0;
    display: inline-block;
    float: right;
    .menu-entry 
    {
      width: $menu-height;
      height: $menu-height;
      text-align: center;
      display: inline-block;
      cursor: pointer;
      color: $menu-txt-color;
      i
      {
        @include transition(0.5s ease-in-out); 
      }
      .helper
      {
        visibility: hidden;
        display: inline-block;
        font-size: 10px;
        font-weight: bold;
        text-transform: uppercase;
      }
      &.selected, &.selected:hover
      {
        background-color: #FFFFFF;
        color: $menu-txt-selected-color;
        &.blue { background-color: $blue; }
        &.pink { background-color: $pink; }
        &.green { background-color: $green; }
        &.cyan { background-color: $cyan; }
        &.purple { background-color: $purple; }
        i
        {
          color: $menu-txt-selected-color;
        }
      }
      &:hover
      {
        background-color: #777777;
        color: $menu-txt-selected-color;
        &.blue { background-color: $blue; }
        &.pink { background-color: $pink; }
        &.green { background-color: $green; }
        &.cyan { background-color: $cyan; }
        &.purple { background-color: $purple; }
        i
        {
          visibility: visible;
          @include transform(translateY(-50px));
          color:white;
        }
      }
    }
  }
  .menu-right
  {
    float: right;
    margin: 10px;
  }
  &.fixed
  {
    position: fixed;
    top: 0px;
  }
}
