.menu
{
  width: 100%;
  height: $menu-height;
  line-height: $menu-height;
  background-color: $menu-background-color;
  .menu-title 
  {
    padding: 0 10px;
    display: inline-block;
  }
  .menu-left
  {
    margin-left: 50px;
    padding: 0;
    display: inline-block;
    .menu-entry 
    {
      padding: 0 20px;
      display: inline-block;
      cursor: pointer;
      &.selected, &.selected:hover
      {
        background-color: $body-color;
        color: #000000;
      }
      &:hover
      {
        background-color: $sub-menu-color;
      }
    }
  }
  .menu-right
  {
    margin: 10px;
    position: absolute;
    right: 0;
    top: 0;
  }

  &.fixed {
    position: fixed;
    top: 0;
    z-index: 100;
  }
}