$primary-color: #607d8b;
$blue: #738ffe;
$pink: #e91e63;
$green: #9ccc65;
$cyan: #00bcd4;
$purple: #7e57c2;
$black: #000000;
$grey: #757575;
$dark-grey: #424242;
$red: #e51c23;


$body-color: white;

/***********************/
/********* LINK ********/
/***********************/
$primary-link-color: #00b0ff;
$secondary-link-color: #fb8c00;
$default-link-color: $grey;
$light-grey: #E2E2E2;

/***********************/
/********* MENU ********/
/***********************/
$menu-height: 50px !default;
$menu-bg-color: black !default;
$menu-txt-color: white !default;
$menu-txt-selected-color: $dark-grey !default;

/***********************/
/******* DIVIDER *******/
/***********************/
$divider-color: $light-grey;

/***********************/
/********* CARD ********/
/***********************/
$card-border: 1px solid $light-grey;

/***********************/
/******* SHADOWS *******/
/***********************/
$shadow-color: rgba(0, 0, 0, 0.4) !default;
$shadow-normal: 0 2px 5px 0 $shadow-color !default;
$shadow-clicked: 0 8px 17px 0 $shadow-color !default;
$shadows-bottom: 0 4px 2px -2px $shadow-color !default;
$shadow-z-1: 0 2px 10px 0 rgba(0, 0, 0, 0.16) !default;
$shadow-z-1-after: 0 2px 5px 0 rgba(0, 0, 0, 0.26) !default;
$shadow-z-2: 0 17px 50px 0 rgba(0, 0, 0, 0.19) !default;
$shadow-z-2-after: 0 12px 15px 0 rgba(0, 0, 0, 0.24) !default;
$shadow-z-3: 0 27px 24px 0 rgba(0, 0, 0, 0.2) !default;
$shadow-z-3-after: 0 40px 77px 0 rgba(0, 0, 0, 0.22) !default;

/***********************/
/****** ANIMATIONS *****/
/***********************/
$grow-scale: 1.2 !default;
$animation-speed: 0.1s !default;


/***********************/
/******** BUTTON *******/
/***********************/
$round-size: 50px !default;
$button-height: 30px !default;
$icons-size: 32px;
$button-width: 120px;


/***********************/
/********* FORM ********/
/***********************/
$form-width: 300px !default;